<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./layout/_header.ejs') %>
</head>
<body>
    <main class="container">
        <section id="multiplicationChart" class="multiplicationChart">
        </section>
        <footer>
            <p>Copyright © 2019 HexSchool. All rights reserved.</p>
        </footer>
    </main>
    <%- include('./layout/_script.ejs')%>
</body>
</html>
